<section class="section mt-5">
    <div class="container">
      <div class="col align-self-center mt-5">
          <h1> Bienvenido...!</h1>
      </div>
      </div>
    <div class="container">

    <div class="card-body">
        <p>  Actualmente la mayor parte de los negocios, independientemente de la magnitud de la empresa, estan optando por ofrecer sus servicios atraves de internet, ya sea con una pagina estatica
          con funcionalidades de publicidad o bien con compras en linea.</p>

         <br>
         <p>El principal problema al que nos enfrentamos en el dia a dia laboral es tratar de ofrecer un servicio de calidad el cual cumpla con los mas altos estandares de calidad,
            que este disponible para una gran cantidad de usuarios y que el tiempo de respuesta sea el mas optimo en cualquier caso.
          </p>
          <br>
          <p>Pretendiendo ofrecer los conocimientos adquiridos a lo largo de mi trayectoria porofesional, no solamente enfocandonos  en un rol especifico sino aplicando Ingenieria al crear software</p>
      </div>
    <div >
    </div>
    <br>
  </div>
  <br>
  <br><br><br>
  <p class="card-text"><small class="text-muted">La unica manera de tener exito es que no dejar de creer en ti!</small></p>
</section>
