<section class="section mt-5">
    <div class="container">
      <div class="col align-self-center mt-5">
          <h1> Bienvenido...!</h1>
      </div>
      </div>
    <div class="container">

    <div class="card-body">
        <p>  Actualmente la mayor parte de los negocios, independientemente de la magnitud de la empresa, estan optando por ofrecer sus servicios atraves de internet, ya sea con una pagina estatica
          con funcionalidades de publicidad o bien con compras en linea.</p>

         <br>
         <p>El principal problema al que nos enfrentamos en el dia a dia laboral es tratar de ofrecer un servicio de calidad el cual cumpla con los mas altos estandares de calidad,
            que este disponible para una gran cantidad de usuarios y que el tiempo de respuesta sea el mas optimo en cualquier caso.
          </p>
          <br>
          <p>Pretendiendo ofrecer los conocimientos adquiridos a lo largo de mi trayectoria porofesional, no solamente enfocandonos  en un rol especifico sino aplicando Ingenieria al crear software</p>
      </div>

      <!--
    <div class="card-deck">
      <div class="card">
        <img src="assets/Node.js_logo.svg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Node.js</h5>
          <h6 class="card-subtitle mb-2 text-muted">Node Package Manager npm</h6>
          <p class="card-text"> Se requiere instalar Node para poder acceder al gestor de paquetes npm</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Node Package Manager npm facilita la administracion modulos, dependendencias, etc. de una manera sencilla. </li>
        </ul>
        <div class="card-body">
          <li class="nav" routerLinkActive="active">
            <a class="nav-link" routerLink="/herramientas">Instalación</a><br>
          </li>
        </div>
      </div>
      <div class="card">
        <img src="assets/typescript.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TypeScript </h5>
          <p class="card-text">Es un lenguaje de programación orientada a objetos,lenguaje escencial para el desarrollo de aplicaiones angular.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Se recomienda instalar de manera global para poder detectar todos sus componentes. </li>
        </ul>
        <div class="card-body">
          <li class="nav" routerLinkActive="active">
            <a class="nav-link" routerLink="/herramientas">Instalación</a>
          </li>
        </div>
      </div>
      <div class="card">
        <img src="assets/ac2b12c2c8c5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Angular CLI <br> <br> Command Line Interface</h5>
          <p class="card-text">Uno de los elementos principales para la creacion de proyectos Angular.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Para poder hacer uso de ella se requiere tener instalado Node.js y npm. </li>
          <li class="list-group-item">Nos ofrece un servidor embebido para hacer peticiones HTTP </li>
          <li class="list-group-item">Entre los comandos destacados es la creacion de proyectos, ya que te genera de
             manera automatica el esqueleto y configura con una gran cantidad de herramientas. </li>
        </ul>
        <!--typescript-->
        <div class="card-body">
          <li class="nav" routerLinkActive="active">
                  <a href="#node" class="card-link">Instalación</a>
          </li>
        </div>
      </div>
    </div>
    -->
    <div >
    </div>
    <br>
  </div>
  <br>
  <br><br><br>
  <p class="card-text"><small class="text-muted">La unica manera de tener exito es que no dejar de creer en ti!</small></p>
</section>
