<section class="section mt-5">


      <div class="container my-5">
          <div class="row justify-content-center">
              <div class="col-xs-7 text-center">
                  <img src="https://avatars.githubusercontent.com/u/55504482?v=4" class="rounded-circle tamano20" />
              </div>
          </div>
      </div>

  <div class="card-body mt-5">
      <p>  Mi nombre es Ivan Basilio Ramirez, Egresado de la Escuela Superior de Ingenier&iacute;a Mec&aacute;nica y El&eacute;ctrica, Unidad Culhuac&aacute;n</p>

       <br>
       <p>Actualmente me encuentro laborando para una empresa internacional que ofrece servicios de beneficios e incentivos.
        </p>
        <br>
        <p>Me he dedicado al desarrollo de software desempeñando diferentes tareas y procesos dentro del ciclo de vida de software.
          <br>
          Puedo decir que la mayor parte de mi trabajo a sido la corrección y optimización de códigos ya elaborados y con años de funcionamiento.
          <br><br>
          Existen diversos problema por los cuales no se puede hacer una entrega de un software de calidad, por ello el objetivo de de este proyecto es compartir el conocimineto
          que muchas veces no se encuentra tan facil en el idioma Español, ademas de ofrecer una idea e inclinar hacia la cultura DEVOPS
        </p>
        <br>
        <p>
          Durante mi trayectoria profesional he laborado con y para empresas del sector financiero, en donde a pesar deque existe un gran numero de personas no es suficiente poder
          ofrecer una solucion adecuada, ya se por el echo de que no este bien planeada la aquitectura, infraestructura, no este bien codificado o simplemente porque no exista una armonia laboral en el sentido de que todos
          trabajen con el mismo objetivo y metas.
        </p>
    </div>

    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contacto</h5>
          <h6 class="card-subtitle mb-2 text-muted">Dudas y comentarios</h6>
          <p class="card-text">comentarios@dck-ti.com</p>
          <p class="card-text">ivan.basilio@dck-ti.com</p>
        </div>
      </div>
      </div>

</section>
